@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@1,600;1,700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

body {
  background-color: #E4E3E0;
  color: #141414;
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

/* Custom retro scrollbar support to stay dense & high density */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F2F1EE;
  border-left: 1px solid #141414;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
